.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 30%;
    margin-bottom: 0;
}

.btn-block {
    display: block;
    width: 30%;
}

.navigation{
    border :1px solid white;
    width:200px;
    height: 500px;
    transition-duration: 0.5s;
    transition-timing-function: linear;
}
.navDiv{
    height: 40px;
    color: white;
    background-color: red;
    font-size: 14px;
    padding: 10px;
    
}

.showNav{
     transform: translateX(-160px);
     transition-duration: 0.5s;
     transition-timing-function: linear;
   
     
}
.glyphicon{
    margin-left: 90px;
}
.container-fluid{
    padding-left: 0px;
}
.nav-pills > li > a {
     border-radius:0;
}